### Date & Time 
When we work on the real world data, there might be chances we come across date-column and we can draw useful insights from data while working on Date-Time and Pandas have extensive capabilities to work on dates.

* <a href="https://data.world/socialmediadata/twitter-us-airline-sentiment">Link for Data set </a>

* <a href="https://towardsdatascience.com/working-with-datetime-in-pandas-dataframe-663f7af6c587">Refrence </a>

In [90]:
import numpy as np
import pandas as pd
import datetime

In [91]:
Data = pd.read_csv("Airline-Sentiment-2-w-AA.csv",encoding="ISO-8859-1")
Data

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,airline_sentiment,airline_sentiment:confidence,negativereason,negativereason:confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone
0,681448150,False,finalized,3,2/25/15 5:24,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2/24/15 11:35,5.703060e+17,NaN,Eastern Time (US & Canada)
1,681448153,False,finalized,3,2/25/15 1:53,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2/24/15 11:15,5.703010e+17,NaN,Pacific Time (US & Canada)
2,681448156,False,finalized,3,2/25/15 10:01,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2/24/15 11:15,5.703010e+17,Lets Play,Central Time (US & Canada)
3,681448158,False,finalized,3,2/25/15 3:05,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2/24/15 11:15,5.703010e+17,NaN,Pacific Time (US & Canada)
4,681448159,False,finalized,3,2/25/15 5:50,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2/24/15 11:14,5.703010e+17,NaN,Pacific Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14635,681679794,False,finalized,3,2/25/15 19:46,positive,0.3487,NaN,0.0000,American,NaN,KristenReenders,NaN,0,@AmericanAir thank you we got on a different f...,NaN,2/22/15 12:01,5.695880e+17,NaN,NaN
14636,681679795,False,finalized,3,2/25/15 19:14,negative,1.0000,Customer Service Issue,1.0000,American,NaN,itsropes,NaN,0,@AmericanAir leaving over 20 minutes Late Flig...,NaN,2/22/15 11:59,5.695870e+17,Texas,NaN
14637,681679796,False,finalized,3,2/25/15 19:04,neutral,1.0000,NaN,NaN,American,NaN,sanyabun,NaN,0,@AmericanAir Please bring American Airlines to...,NaN,2/22/15 11:59,5.695870e+17,"Nigeria,lagos",NaN
14638,681679797,False,finalized,3,2/25/15 18:59,negative,1.0000,Customer Service Issue,0.6659,American,NaN,SraJackson,NaN,0,"@AmericanAir you have my money, you change my ...",NaN,2/22/15 11:59,5.695870e+17,New Jersey,Eastern Time (US & Canada)
14639,681679798,False,finalized,3,2/25/15 19:06,neutral,0.6771,NaN,0.0000,American,NaN,daviddtwu,NaN,0,@AmericanAir we have 8 ppl so we need 2 know h...,NaN,2/22/15 11:58,5.695870e+17,"dallas, TX",NaN

In [92]:
Data.rename(columns={"tweet_created":"Date"},inplace = True)

In [93]:
Data.Date #dtype of Date is object in the dataset

0        2/24/15 11:35
1        2/24/15 11:15
2        2/24/15 11:15
3        2/24/15 11:15
4        2/24/15 11:14
             ...
14635    2/22/15 12:01
14636    2/22/15 11:59
14637    2/22/15 11:59
14638    2/22/15 11:59
14639    2/22/15 11:58
Name: Date, Length: 14640, dtype: object

#### Converting to Datetime

In [94]:
# we can use pd.to_datetime to convert a series/column of object datatype to datetime
Data["Date"] = pd.to_datetime(Data.Date)

#### Custom Format

* Here the Date is given as YYYY-DD-MM HH:MM:SS
* we can use argument format to change the format of the data

<ol>
    <li> For Day - %d(01),%a(Mon),%A(MONDAY)</li>
    <li> For Month - %m(01),%b(Jan),%B(JANUARY)</li>
    <li> Year with century :%Y(2021)</li>
    <li>Year without century : %y(21)</li> 
    <li>Hours 24hr Format  : %H</li> 
    <li>Hours 12hr Format  : %I</li> 
    <li>Minutes   : %M</li>
    <li>Seconds   : %S</li>
    <li>am/pm     : %p</li>
    </ol>

In [95]:
Data.Date.head(5)

0   2015-02-24 11:35:00
1   2015-02-24 11:15:00
2   2015-02-24 11:15:00
3   2015-02-24 11:15:00
4   2015-02-24 11:14:00
Name: Date, dtype: datetime64[ns]

In [96]:
Data["Date"] = pd.to_datetime(Data["Date"],format = "%Y-%d-%m %I:%M")

####  Assembling of Date

In [97]:
dates = pd.DataFrame({"Year":[2015,2017,2021],"Month":[1,4,11],"Day":[2,21,29]})
dates

   Year  Month  Day
0  2015      1    2
1  2017      4   21
2  2021     11   29

In [98]:
dates["Date"] = pd.to_datetime(dates)

In [99]:
dates

   Year  Month  Day       Date
0  2015      1    2 2015-01-02
1  2017      4   21 2017-04-21
2  2021     11   29 2021-11-29

#### Get Date Parts

In [100]:
dates.Year

0    2015
1    2017
2    2021
Name: Year, dtype: int64

In [101]:
dates.Month

0     1
1     4
2    11
Name: Month, dtype: int64

In [102]:
dates.Day

0     2
1    21
2    29
Name: Day, dtype: int64

In [103]:
dates["Date"].dt.year

0    2015
1    2017
2    2021
Name: Date, dtype: int64

In [104]:
dates["Date"].dt.week

0     1
1    16
2    48
Name: Date, dtype: int64

In [105]:
dates["Date"].dt.is_leap_year

0    False
1    False
2    False
Name: Date, dtype: bool

#### In Pandas we can use pd.Timestamp to work on Dates

In [106]:
# To work on dates first step is to convert it to dates from object data type
Data["Date"] = pd.to_datetime(Data.Date,format="%d-%m-%Y %h:%m:%s")

In [107]:
Data["Date"]

0       2015-02-24 11:35:00
1       2015-02-24 11:15:00
2       2015-02-24 11:15:00
3       2015-02-24 11:15:00
4       2015-02-24 11:14:00
                ...
14635   2015-02-22 12:01:00
14636   2015-02-22 11:59:00
14637   2015-02-22 11:59:00
14638   2015-02-22 11:59:00
14639   2015-02-22 11:58:00
Name: Date, Length: 14640, dtype: datetime64[ns]

In [108]:
# to do the formatting on top of it for end user we can use strftime
Data["Date"].apply(lambda x:x.strftime("%d-%b-%Y-%I:%M:%S %p"))

0        24-Feb-2015-11:35:00 AM
1        24-Feb-2015-11:15:00 AM
2        24-Feb-2015-11:15:00 AM
3        24-Feb-2015-11:15:00 AM
4        24-Feb-2015-11:14:00 AM
                  ...
14635    22-Feb-2015-12:01:00 PM
14636    22-Feb-2015-11:59:00 AM
14637    22-Feb-2015-11:59:00 AM
14638    22-Feb-2015-11:59:00 AM
14639    22-Feb-2015-11:58:00 AM
Name: Date, Length: 14640, dtype: object

#### Get the age

In [109]:
Data["Date"] = pd.to_datetime(Data["Date"])

In [110]:
today = pd.Timestamp.now()

In [111]:
today.year - Data["Date"].dt.year

0        6
1        6
2        6
3        6
4        6
        ..
14635    6
14636    6
14637    6
14638    6
14639    6
Name: Date, Length: 14640, dtype: int64

#### Date Column as index

In [112]:
# We can work on dates a lot more easier by setting them as index for that when we read data we have to convert the datatype of
# dates to date by using parse_dates
a = pd.read_csv("Airline-Sentiment-2-w-AA.csv",encoding="ISO-8859-1",parse_dates=['tweet_created'])

In [113]:
a.head(5)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,airline_sentiment,airline_sentiment:confidence,negativereason,negativereason:confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone
0,681448150,False,finalized,3,2/25/15 5:24,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:00,5.703060e+17,NaN,Eastern Time (US & Canada)
1,681448153,False,finalized,3,2/25/15 1:53,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:00,5.703010e+17,NaN,Pacific Time (US & Canada)
2,681448156,False,finalized,3,2/25/15 10:01,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:00,5.703010e+17,Lets Play,Central Time (US & Canada)
3,681448158,False,finalized,3,2/25/15 3:05,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:00,5.703010e+17,NaN,Pacific Time (US & Canada)
4,681448159,False,finalized,3,2/25/15 5:50,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:00,5.703010e+17,NaN,Pacific Time (US & Canada)

In [114]:
a.info()
#  hence we can see the datatype is datetime 64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   _unit_id                      14640 non-null  int64
 1   _golden                       14640 non-null  bool
 2   _unit_state                   14640 non-null  object
 3   _trusted_judgments            14640 non-null  int64
 4   _last_judgment_at             14584 non-null  object
 5   airline_sentiment             14640 non-null  object
 6   airline_sentiment:confidence  14640 non-null  float64
 7   negativereason                9178 non-null   object
 8   negativereason:confidence     10522 non-null  float64
 9   airline                       14640 non-null  object
 10  airline_sentiment_gold        40 non-null     object
 11  name                          14640 non-null  object
 12  negativereason_gold           32 non-null     object
 13  retweet_count                 14640 non-null  int64
 14  text                          14640 non-null  object
 15  tweet_coord                   1019 non-null   object
 16  tweet_created                 14640 non-null  datetime64[ns]
 17  tweet_id                      14640 non-null  float64
 18  tweet_location                9907 non-null   object
 19  user_timezone                 9820 non-null   object
dtypes: bool(1), datetime64[ns](1), float64(3), int64(3), object(12)
memory usage: 2.1+ MB

In [115]:
a.rename(columns={"tweet_created":"Date"},inplace=True)

In [116]:
a = a.set_index(["Date"])

In [117]:
# by setting date column as index we can do aggregations
a.loc['2015','_trusted_judgments'].sum()

52977

In [118]:
a.loc['2015-02']

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,airline_sentiment,airline_sentiment:confidence,negativereason,negativereason:confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_id,tweet_location,user_timezone
Date,,,,,,,,,,,,,,,,,,,
2015-02-24 11:35:00,681448150,False,finalized,3,2/25/15 5:24,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,5.703060e+17,NaN,Eastern Time (US & Canada)
2015-02-24 11:15:00,681448153,False,finalized,3,2/25/15 1:53,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,5.703010e+17,NaN,Pacific Time (US & Canada)
2015-02-24 11:15:00,681448156,False,finalized,3,2/25/15 10:01,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,5.703010e+17,Lets Play,Central Time (US & Canada)
2015-02-24 11:15:00,681448158,False,finalized,3,2/25/15 3:05,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,5.703010e+17,NaN,Pacific Time (US & Canada)
2015-02-24 11:14:00,681448159,False,finalized,3,2/25/15 5:50,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,5.703010e+17,NaN,Pacific Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-02-22 12:01:00,681679794,False,finalized,3,2/25/15 19:46,positive,0.3487,NaN,0.0000,American,NaN,KristenReenders,NaN,0,@AmericanAir thank you we got on a different f...,NaN,5.695880e+17,NaN,NaN
2015-02-22 11:59:00,681679795,False,finalized,3,2/25/15 19:14,negative,1.0000,Customer Service Issue,1.0000,American,NaN,itsropes,NaN,0,@AmericanAir leaving over 20 minutes Late Flig...,NaN,5.695870e+17,Texas,NaN
2015-02-22 11:59:00,681679796,False,finalized,3,2/25/15 19:04,neutral,1.0000,NaN,NaN,American,NaN,sanyabun,NaN,0,@AmericanAir Please bring American Airlines to...,NaN,5.695870e+17,"Nigeria,lagos",NaN
2015-02-22 11:59:00,681679797,False,finalized,3,2/25/15 18:59,negative,1.0000,Customer Service Issue,0.6659,American,NaN,SraJackson,NaN,0,"@AmericanAir you have my money, you change my ...",NaN,5.695870e+17,New Jersey,Eastern Time (US & Canada)
2015-02-22 11:58:00,681679798,False,finalized,3,2/25/15 19:06,neutral,0.6771,NaN,0.0000,American,NaN,daviddtwu,NaN,0,@AmericanAir we have 8 ppl so we need 2 know h...,NaN,5.695870e+17,"dallas, TX",NaN

In [119]:
# Further we can add or subtract date 
dte_1 = pd.to_datetime('02/11/1996', format = '%d/%m/%Y')
dte_1 + pd.DateOffset( years = -30 )

Timestamp('1966-11-02 00:00:00')

### Map / Apply / Applymap
* The basic idea for these functions is to apply looping constraints to rows/columns without writing any loop

In [120]:
def sq(x):
    return x**2

In [121]:
l1 = [1,4,6,8,9,23]
sq(l1)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [122]:
for i in l1:
    print(i**2)

1
16
36
64
81
529

In [123]:
# map is used to apply a function of 1-D object
n_list= list(map(sq,l1))
n_list

[1, 16, 36, 64, 81, 529]

In [124]:
pd.Series(map(lambda x:x.upper(),a._unit_state))

0        FINALIZED
1        FINALIZED
2        FINALIZED
3        FINALIZED
4        FINALIZED
           ...
14635    FINALIZED
14636    FINALIZED
14637    FINALIZED
14638    FINALIZED
14639    FINALIZED
Length: 14640, dtype: object

In [125]:
# applymap is used to apply function on multiple columns
a[['name','text']].applymap(lambda x:x.upper())

,name,text
Date,,
2015-02-24 11:35:00,CAIRDIN,@VIRGINAMERICA WHAT @DHEPBURN SAID.
2015-02-24 11:15:00,JNARDINO,@VIRGINAMERICA PLUS YOU'VE ADDED COMMERCIALS T...
2015-02-24 11:15:00,YVONNALYNN,@VIRGINAMERICA I DIDN'T TODAY... MUST MEAN I N...
2015-02-24 11:15:00,JNARDINO,@VIRGINAMERICA IT'S REALLY AGGRESSIVE TO BLAST...
2015-02-24 11:14:00,JNARDINO,@VIRGINAMERICA AND IT'S A REALLY BIG BAD THING...
...,...,...
2015-02-22 12:01:00,KRISTENREENDERS,@AMERICANAIR THANK YOU WE GOT ON A DIFFERENT F...
2015-02-22 11:59:00,ITSROPES,@AMERICANAIR LEAVING OVER 20 MINUTES LATE FLIG...
2015-02-22 11:59:00,SANYABUN,@AMERICANAIR PLEASE BRING AMERICAN AIRLINES TO...
2015-02-22 11:59:00,SRAJACKSON,"@AMERICANAIR YOU HAVE MY MONEY, YOU CHANGE MY ..."
2015-02-22 11:58:00,DAVIDDTWU,@AMERICANAIR WE HAVE 8 PPL SO WE NEED 2 KNOW H...

In [126]:
# apply function is used to apply particular function to column's, and can be used as an alternate for map

In [127]:
a._unit_state.apply(lambda x:x.upper())

Date
2015-02-24 11:35:00    FINALIZED
2015-02-24 11:15:00    FINALIZED
2015-02-24 11:15:00    FINALIZED
2015-02-24 11:15:00    FINALIZED
2015-02-24 11:14:00    FINALIZED
                         ...
2015-02-22 12:01:00    FINALIZED
2015-02-22 11:59:00    FINALIZED
2015-02-22 11:59:00    FINALIZED
2015-02-22 11:59:00    FINALIZED
2015-02-22 11:58:00    FINALIZED
Name: _unit_state, Length: 14640, dtype: object

In [128]:
# A complex problem
# find the total return value for each year and each segment for sample super store dataset

In [129]:
Orders = pd.read_excel("Superstore Sales.xlsx",sheet_name=0)
Returns = pd.read_excel("Superstore Sales.xlsx",sheet_name=1)
People = pd.read_excel("Superstore Sales.xlsx",sheet_name=2)

In [130]:
Orders["Year"] = Orders.loc[:,"Ship Date"].apply(lambda x:x.year)

In [131]:
final = pd.merge(left=Orders,right=Returns,left_on="Order ID",right_on="Order ID",indicator = True)

In [132]:
final.groupby(["Year","Segment"]).Sales.sum().T

Year  Segment
2011  Consumer        74751.36086
      Corporate       59478.09236
      Home Office     16529.06700
2012  Consumer       103169.78838
      Corporate       52440.43386
      Home Office     22127.51636
2013  Consumer        93089.87934
      Corporate       60797.98910
      Home Office     38239.71914
2014  Consumer       144151.42180
      Corporate       98003.06858
      Home Office     56120.18980
2015  Consumer          835.22880
      Corporate          34.62400
Name: Sales, dtype: float64