### What is Data Science

* In this notebook we will learn Python as a tool/language for Data Science.Now the question is,what is <b>Data Science?</b><br>
* Well the science of dealing with the data is called Data Science.
* The science part includes all the methodologies/techniques and tactics involved for dealing with the data
* Dealing with data includes manipulating,transforming,subsetting,mining,munging,Visualizing and modeling.

### The Life Cycle Of Data Science Project
* <b>Step 1:-</b> <b>Business Problem</b> understanding the problem and it's objective.
* <b>Step 2:-</b> <b>Data Acquisition</b>  gather the data from various sources like web servers,databases and API's.
* <b>Step 3:-</b> <b>Data Preparation</b> that includes data cleaning and data transformation i.e. dealing with missing values and misspelled attributes etc.
* <b>Step 4:-</b> <b>Exploratory Data Analysis (EDA)</b> , defines and refines the important features that will be used in model development.
* <b>Step 5:-</b> <b>Data Modeling</b> that includes applying different machine learning algorithm's and find the best suited algorithm w.r.t business problem.
* <b>Step 6:-</b> <b>Visualization And Communication</b> to present the business findings with the client.
* <b>Step 7:-</b> <b>Deployment</b> of the model on the web or cloud.

### Python 
Python is a general-purpose,dynamically-typed,object oriented programming language that is used for scripting,software development and data science. Python is simple and easy to learn and with the help of open source libraries like (numpy,scipy and pandas) it become more powerful.

### Let's Get Started

In every Language there is a concept of Comments i.e. Non-executable code and is used in the language to define what is happening.
In python we use # for Comments.

In [1]:
# with print statement we can print anything we want.
print("Let's Start Learning Python")

Let's Start Learning Python

### Variables 
* Variables are containers that store the data values.
* We can declare it by any name or we can use alphanumerics also [a-z],[A-Z],[0-9]

In [2]:
var_1 = "Hi"
print(var_1)

Hi

In [3]:
var_1 = 23
print(var_1)

# Now the value "23" is assigned to the same variable in memory location

23

In [4]:
# Python is case-sensitive.
x = 10
X = 'Ten'

print(x,X)

10 Ten

In [5]:
# There are some syntax rules for python the most important one is indentation.
a = 1
b = 2
c = 4

In [6]:
print(a,b,c)

1 2 4

In [7]:
a = 1
    b = 2
c = 4

IndentationError: unexpected indent (<ipython-input-7-c2ffda4a5d70>, line 2)

><p> As we know Python is an Object-Oriented Programming Language and objects are used to store the data. Now these objects have some properties knows as Attributes.<br>
    
> * What type of values are stored in these objects?<br>
> <b> Data Types</b><br>
> * How these values are stored? <br>
> <b> Data Structures </b>

###  Basic Data Types 
> Integer,Float,Boolean,Strings and Complex.<br>
> Data types ca be used as type conversion functions.

### Integers

In [8]:
# numbers without decimal
x = 5

In [9]:
type(x)

int

In [10]:
# these are all the list of attributes and methods of x being an object of integer class.
# and we can use all that are withou any under_score.
print(dir(x))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [11]:
x.denominator

1

### Float

In [12]:
# number with decimal
y = 5.0

In [13]:
# hence its an object of float class
print(type(y))

<class 'float'>

### Boolean

In [14]:
# logicall/Boolean values
# o is False and any number is True
z = True

In [15]:
print(type(z))

<class 'bool'>

In [16]:
z2 = False

In [17]:
print(type(z))

<class 'bool'>

In [18]:
# here we have converted x into bool and it's showing us True hence 0 is False anything else is True
bool(x)

True

In [19]:
a = 0

In [20]:
# o is False
bool(a)

False

### String

In [21]:
# a string is a collection of one or more character put in a single,double or triple quote.
str_1 = 'a'
str_2 = "Python"
str_3 = """Hello world"""
# triple quotes either single or doubke are used to write strings in multiple lines like a paragraph.

In [22]:
print("Type of Str_1 is:",type(str_1),"Type of Str_2 is:",type(str_2),"Type of Str_3 is:",type(str_3))

Type of Str_1 is: <class 'str'> Type of Str_2 is: <class 'str'> Type of Str_3 is: <class 'str'>

### Complex

In [23]:
# not used commonly
comp_1 = 3+4j
type(comp_1)

complex

In [24]:
# Part A
a=3+5
a

8

In [25]:
# it is dynamically typed language no need to define the data type.
type(a)

int

In [26]:
# Part B
B = 3+5
print(B)

8

The basic difference between the Part A and Part B is that Part B has printed the value 8 and Part A has provided the computation. We can  further apply mathematical operations to Part A but can't Apply them to Part B.

In [27]:
a+7

15

In [28]:
print(B)+4

8

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

### Operators 
1. Assigment = 
2. Arithmetic / * + - // %
3. Aithmetic + Assignment += -= *= /= %=
4. Comparison/Relational > >= < <= == !=
5. Memberhip IN/NOT IN
6. Logical AND(&)/OR(|)/NOT(!)

In [29]:
# Assignment operator assigns value
x = 5
x

5

In [30]:
# here we will discuss important Operators
# Floor Division
5//2

2

In [31]:
# Remainder
5%2

1

In [32]:
# d+= 6 equals to d + 6
d = 5
d+=6
d

11

In [33]:
# = is for assignment == is for comparison
5 == 5

True

In [34]:
# logical AND is used
5==5 & 6==7

False

In [35]:
# IN operator
new_var = "Hello"
print("H" in new_var)

True

### LOGICAL STATEMENTS AND LOOPING CONSTRUCTS

><B> LOGICAL STATEMENTS/CONDITIONAL STATEMENTS</B><BR>
    1. If else
    2. if elif else
    3. Ternary if

In [36]:
# we can use only if staement, for multiple conditions we use elif , and for one true and false we use if else
var_3 = 2
if var_3 == 0:
    print("Zero")
elif(var_3>0):
    print("Positive")
else:
    print("Negative")

Positive

In [37]:
"Positive" if (var_3>0) else "Negative"

'Positive'

### Loops
> <b>Conditional loop<br>
> Ranged loop

# While loop is an conditional loop and it iterates until the condition is True and come out of the loop when condition become False.And if no such condition is provided where we have an False condition then it will go in an infinite loop. Warning!

In [38]:
x = 1
while x<=10:
    print(x)
    x+=1
print("This is while loop")  # this print statement is outside the loop

1
2
3
4
5
6
7
8
9
10
This is while loop

Ranged loops are the loops that iterate in a certain range and are used with for loops 
for i in range():
    condition/operation's

-- So let's understand range function

In [39]:
a = range(1,10)
b = range (1,10,2)
c = range (10,1,-1)

In [40]:
# here it's printing all the numbers between 1,10 
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9

In [41]:
# here its printing all the numbers between 1 to 10 with a step size of 2 , the third argument in range is step size
for i in b:
    print(i)

1
3
5
7
9

In [42]:
# here its printing all the numbers in reverse order as step size is -1
for i in c:
    print(i)

10
9
8
7
6
5
4
3
2

###  Data Structures
* How the values are stored i.e. Structure and arrangement<br>
* In python we have four Data Structures:<br>
* Tuple,Lists,Dictionary and Sets<br>
* All of them are heterogeneous and one-dimensional

##### Tuples

In [43]:
# how to create : ()
t1 = (1,2,3,4,5,6.7,'tuple')
type(t1)

tuple

In [44]:
# Access
# we use indexing for the access of any element and indexing in python starts from 0 to n-1
# hence its showing that at 0th index we have the 1 in t1
t1[0]

1

In [45]:
# from 0  to n-1
t1[1:4]

(2, 3, 4)

In [46]:
# we can also use step size as we did in range
t1[1:7:4]

(2, 6.7)

In [47]:
# how to update
# hence tuples objects are immutable
t1[2] = 6

TypeError: 'tuple' object does not support item assignment

#### Lists

In [48]:
# lists are created with []
l1 = [1,2,3,4,7,True]
type(l1)

list

In [49]:
#access
l1[2]

3

In [50]:
l1[0:6:2]

[1, 3, 7]

In [51]:
#Update
l1[4] = 5
l1
# Tuples and lists works in the same way but tuples are immutable and lists are mutable.

[1, 2, 3, 4, 5, True]

In [52]:
l2 = [1,2,3,4,5]

In [53]:
# Broadcasting is not allowed
l2+100

TypeError: can only concatenate list (not "int") to list

#### Dictionary

In [54]:
# Dictionary is a collection of keys and value
dict={"x":5}

In [55]:
dict

{'x': 5}

In [56]:
# that's how we create a dataset for each value we have a label
dict_1 = {"Marks":[20,30,45,70,90]}

In [57]:
dict_2 = {1:"Hello",2:"People"}

In [58]:
dict_2

{1: 'Hello', 2: 'People'}

In [59]:
#Access
dict_2[1]

'Hello'

In [60]:
#Update
dict_2[2] = "New_word"

In [61]:
dict_2

{1: 'Hello', 2: 'New_word'}

#### Sets
* Sets are one dimensional and heterogeneous

In [62]:
# Sets are created using {}
# Sets are derived from the same set theory we studied in earlier classes
s1 = {1,2,3,4,5,4,5}
type(s1)

set

In [63]:
# they are used because with the help of sets we can specify an element is contained or not
# 
s1

{1, 2, 3, 4, 5}

In [64]:
# further more we can explore all the methods and attributes for data structures with the help of dir()
print(dir(s1))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [67]:
s2 = {2,4,6,8,10}
s1.intersection(s2)

{2, 4}